html {
    margin: 10px;
}

body {
    background-color: white;
}

h1 {
    color: black;
    margin: auto;
}

button.large {
    border: thick solid lightgray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
}

button.large:hover {
    box-shadow: 0 5px darkgray;
}

button.large:active {
    box-shadow: none;
    transform: translateY(5px);
}

div.idle {
    background: black;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
}

div.busy {
    background: black;
    width: 300px;
    border: 15px solid yellow;
    padding: 50px;
}

div.occupied {
    background: yellow;
    width: 300px;
    border: 15px solid red;
    padding: 50px;
}

div.debug {
    background: black;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
}

h1.idle {
    color: white;
}

h1.busy {
    color: white;
}

h1.occupied {
    color: black;
}

h1.debug {
    color: white;
}

h2.idle {
    color: white;
}

h2.busy {
    color: white;
}

h2.occupied {
    color: black;
}

h2.debug {
    color: white;
}