html {
    margin: 10px;
    font-family: sans-serif;
}

body {
    background-color: white;
}

h1 {
    color: black;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    color: black;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

button.large {
    border: thick solid lightgray;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    margin: 5px;
    transition: 100ms;
    transition-timing-function: ease;
}

button.large:hover {
    box-shadow: 0 5px darkgray;
}

button.large:active {
    box-shadow: none;
    transform: translateY(5px);
}

div#infoPanel {
    background: black;
    width: inherit;
    max-width: 300px;
    padding: 50px;
}

div.idle {
    border: 15px solid green;
}

div.busy {
    border: 15px solid yellow;
}

div.occupied {
    background: yellow !important;
    border: 15px solid red;
}

div.debug {
    border: grey;
}

h1.idle {
    color: white;
}

h1.busy {
    color: white;
}

h1.occupied {
    color: black;
}

h1.debug {
    color: white;
}

h2.idle {
    color: white;
}

h2.busy {
    color: white;
}

h2.occupied {
    color: black;
}

h2.debug {
    color: white;
}